/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Changa|Roboto&display=swap');

/* Variables */
$main-font: 'Changa', ;
$secondary-font: 'Roboto', ;
$button-font-color: white;
$headshot-width: 13em;

/* Mixins */
@mixin main-layout-flex {
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

@mixin subsection-layout-flex {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  height: 100vh;
}

@mixin special-subsection-layout-flex {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 2em;
  @include subsection-special-background;
}

@mixin subsection-special-background {
  background-color: #4E4E50;
}

@mixin gradient-background {
  background: #950740;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #950740, #1A1A1D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #950740, #1A1A1D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

@mixin link-button {
  @include gradient-background;

  font-family: $main-font;
  color:$button-font-color;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em 1.5em;
  box-shadow: 0px 5px 0 #777777;
  border-radius: 5px;
  transition: all .5s ease;
}