@use 'https://fonts.googleapis.com/css?family=Cabin|Raleway&display=swap';

$main-font: 'Cabin', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$breakpoint-small: 600px;

.herocontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    &__head {
        font-family: $main-font;
        font-size: 4rem;
        background: -webkit-linear-gradient(#777777, #dd1818);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__subhead {
        font-family: $secondary-font;
        font-size: 3rem;
    }

    &__linkbutton {
        background: linear-gradient(to right, #777777, #dd1818);
        font-family: $secondary-font;
        font-weight: bold;
        color: white;
        box-shadow: 0 5px 0 #777777;
        padding: 1em 1.5em;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
    }

    &__linkbutton:active {
        box-shadow: none;
        top: 5px;
    }
}

@media (max-width: $breakpoint-small) {
    .herocontainer {
        height: 50vh;

        &__head {
            font-size: .75rem;
        }

        &__subhead {
            font-size: .5rem;
        }

        &__linkbutton {
            font-size: .75rem;
        }
    }
}