@import '../main.scss';

.aboutcontainer {
    @include subsection-layout-flex;

    &__imagecontainer {
        &__image {
            width: $headshot-width;
        }

    }

    &__contentcontainer {
        &__head {
            font-family: $main-font;
            font-size: 2.5rem;
            color: white;
            padding-top: .5em;
        }

        &__info {
            font-family: $secondary-font;
            font-size: 1.2em;
            padding: 1em;
            margin-bottom: 1em;
            color: white;
        }

        &__linkbutton {
            @include link-button;
        }

        &__linkbutton:active {
            box-shadow: none;
            top: 5px;
        }
    }
}

@media (max-width: 400px) {
    .aboutcontainer {
        &__imagecontainer {
            &__image {
                width: 10rem;
            }
        }
    }
}