@import '../main.scss';


.herocontainer {
    @include subsection-layout-flex;

    &__head {
        font-family: $main-font;
        font-size: 2.5rem;
    }

    &__subhead {
        font-family: $secondary-font;
        padding: 1em 1.5em;
        margin-bottom: 1em;
    }

    &__linkbutton {
        @include link-button;
    }

    &__linkbutton:active {
        box-shadow: none;
        top: 5px;
    }

    &__linkbutton:hover {
        transform: scale(1.5);
    }
}