@import '../main.scss';

.projectcontainer {
    @include subsection-layout-flex;
    flex-flow: column nowrap;
    height: auto;
    padding: 3rem 1rem 2rem 1rem;

    &__header {
        font-family: $main-font;
        color: #950740;
        padding-bottom: 1rem;
    }

    &__name {
        font-family: $main-font;
        padding: 1rem 0 1rem 0;
    }

    &__buttons {

        padding: 2rem 0 2rem 0;

        &__linkbutton {
        @include link-button;
        width: 10rem;
        }

        &__linkbutton:active {
            box-shadow: none;
            top: 5px;
        }
    }

    &__description {
        font-family: $secondary-font;
        font-size: 1.2rem;
    }
    
}

.projectcontainer a {
    margin: 1rem;
}

@media only screen and (min-width: 960px) {
    .projectcontainer {

        &__description {
        font-family: $secondary-font;
        font-size: 1.2rem;
        padding: 3rem 10rem 0rem 10rem;
        }
    }
}