@import '../main.scss';

.projectcontainer {
    @include subsection-layout-flex;
    flex-flow: column nowrap;
    height: auto;
    padding: 3rem 1rem 2rem 1rem;

    &__header {
        font-family: $main-font;
        color: $red;
        padding-bottom: 1rem;
    }

    &__name {
        font-family: $main-font;
        padding: 1rem 0 1rem 0;
    }

    &__buttons {

        padding: 2rem 0 2rem 0;

        &__linkbutton {
        @include link-button;
        width: 10rem;
        }

        &__linkbutton:active {
            box-shadow: none;
            top: 5px;
        }

        &__linkbutton:hover {
            background: darken($red, 1.5%);
            border: 1px solid rgba(#000, .05);
            box-shadow: 1px 1px 2px rgba(#fff, .2);
            color: lighten(#000, 1%); 
            text-decoration: none;
            text-shadow: -1px -1px 0 darken($red, 9.5%);
            transition: all 250ms linear;
        }
    }

    &__description {
        font-family: $secondary-font;
        font-size: 1.2rem;
    }
    
}

.projectcontainer a {
    margin: 1rem;
}

@media only screen and (min-width: 960px) {
    .projectcontainer {

        &__description {
        font-family: $secondary-font;
        font-size: 1.2rem;
        padding: 3rem 10rem 0rem 10rem;
        }
    }
}

@media only screen and (max-width: 320px) {
    .projectcontainer {
        &__buttons {
            &__linkbutton {
                font-size: .8rem;
                padding: 1rem 1rem 1rem 1rem;
            }
        }
    }
}