@import '../main.scss';

.techcontainer {
    padding-top: 2rem;
    padding-bottom: 6rem;
    font-size: 2rem;

    &__header {
        font-family: $main-font;
        font-size: 1.2em;
        color: $red;
    }

    &__techlist {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        font-family: $secondary-font;
        font-size: 1.5rem;
        color: white;

        &__item {
            padding: 1rem;
        }
    }
}